<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- fontawesom -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- style css -->
    <link rel="stylesheet" href="./assets/css/style.css">
  </head>
  <body>
      <img width="200px" src="./assets/img/remainder.png" alt="">
      <div id="app">
          <input v-model='promemoria' placeholder="inserisci promemoria">
          <button v-on:click='insertMessage'>Aggiungi</button>
            <div class="todoList">
                <span>Lista</span>
                <div class="list" v-if='tasks.length > 0'>
                    <div v-on:clik='modifica' class="tasks" v-for='(task,index) in tasks'>{{task}}
                        <div>
                            <i class="far fa-check-circle"></i>
                            <i v-on:click='remove(index)' class="fas fa-minus"></i>
                        </div>
                    </div>
                </div>
                <div v-else='tasks.length === 0'>
                    <span> niente da fare!</span>
                </div>
            </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
  </body>
</html>